<div class="shiba-background">
	<div class="container">
	  <div class="row">
	  	<h2 class="col-3 align-self-start text-center text-white bg-secondary mt-4">犬種一覧</h2>
	  	<div class="col-12">
				<div class="d-inline-flex flex-row flex-wrap product_index p-4">
		  		<% @dog_breeds.each do |dog_breed| %>
		    		<%= render "dog_breed_individual", dog_breed: dog_breed %>
		  		<% end %>
				</div>
	  	</div>
	  </div>
	  <%= paginate(@dog_breeds) %>
	</div>
</div>