<% content_for :title do %>
サイト紹介
<% end %>

<h1>サイト紹介</h1>
<h2>ワンだふる犬図鑑は犬種の情報を得ることができます。</br>
犬種毎の性格・特徴をまとめてありますので是非、見ていってください。</br>
また、犬種毎にコメント欄がありますので飼い主さん同士の交流にお使いください。</br>
(会員登録しておくと名前で交流が可能となります。)</h2>